<div class="panel panel-default">
  <div class="panel-heading">Adicionar Empresa</div>
  <div class="panel-body">
    <%= render partial: 'form', locals: {submit_text: 'Criar Empresa'}  %>
  </div>
</div>
